<!DOCTYPE html>
<!--[if IE 7]>
<html lang="en" class="no-js ie7">
<![endif]-->
<!--[if IE 8]>
<html lang="en" class="no-js ie8">
<![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->
<head>
	{% block javascripts %}
	{% endblock %}
</head>
<body>
<div class="outerwrap">
		<div class="container main-content" id="content">
			{% block content %}
			{% endblock %}
		</div>
</div>
</body>
</html>